.App {
  text-align: center;
  background-color: black;
}

.nav{
  border:1px solid;
  display:flex;
  
}
.nav a{
  /* width:100px;
  padding: 5px; */
  text-decoration: none;
  color :#ffff;
  margin: 10px;

}
.header{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  align-items:center;
  
}
.sello{
  width:100%;
}
